.input {
  font-size: var(--font-size-subtitle);
  padding: var(--spacing-lg);
  border: 1px solid var(--color-border);
  background-color: var(--color-input);
  color: var(--color-text);
  border-radius: var(--radius-md);
  width: 100%;
}

.input:focus {
  outline: 1px solid var(--color-primary);
}

.label {
  font-size: var(--font-size-subtitle);
}
