.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  border-radius: var(--radius-md);
  border: none;
  outline: none;
  background-color: var(--color-primary);
  padding: var(--spacing-lg) var(--spacing-md);
  color: var(--color-text-inverse);
  transition: background-color 0.3s ease-in-out;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  width: 230px;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  border: none;
  outline: none;
  background-color: var(--color-primary);
  padding: var(--spacing-sm);
  color: var(--color-text-inverse);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.iconButton svg {
  animation: spinFade 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.outlined {
  color: var(--color-text);
  background-color: transparent;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-full);
}

.danger {
  color: var(--color-danger);
  background-color: transparent;
}

.danger:hover {
  background-color: var(--color-danger-hover);
}

.success {
  color: var(--color-success);
}

.success:hover {
  background-color: var(--color-success-hover);
}

.warning {
  color: var(--color-warning);
}

.warning:hover {
  background-color: var(--color-warning-hover);
}

.info {
  color: var(--color-info);
}

.info:hover {
  background-color: var(--color-info-hover);
}

/* Cria a animação de girar, crescer e aparecer */
@keyframes spinFade {
  0% {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
